@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    retro,
    cyberpunk,
    valentine,
    garden,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    cmyk,
    autumn,
    acid,
    lemonade,
    winter,
    nord,
    caramellatte,
    silk,
    synthwave,
    halloween,
    forest,
    black,
    luxury,
    dracula,
    business,
    night,
    coffee,
    dim,
    sunset,
    abyss
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/