/* @import '@fontsource/creepster'; */

@import "tailwindcss";

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-sm: 534px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1072px;
  --breakpoint-xl: 1520px;
  --breakpoint-2xl: 1872px;
}

@plugin "daisyui" {
  themes: all;
  /* root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true; */
}

html {
  font-family: 'Inter Variable', sans-serif;
}

/* Responsive font sizes for different screen sizes */
@media (min-width: 534px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1072px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1520px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1872px) {
  html {
    font-size: 16px;
  }
}